In [27]:


bh = 10
print(bh)

10

In [7]:
###### # Monthly income and expenses
income = 3000
rent = 1000
groceries = 400
entertainment = 200

# When you calculate your total expenses
total_exp = rent + groceries + entertainment

# Your savings would be what is left after your expenses
Sav_lf =   income - total_exp

In [9]:
print(total_exp)
print(Sav_lf)

1600
1400

In [13]:
###### IF, Else and Elif statememt
if True:
    print("i am right")

i am right

In [19]:
if 8 > 9:
    print("we are good")
else:
    print("wise guys")

wise guys

In [29]:
###checking if x is greater than y
x =12
y =10
if x < y:
    print("we live in Abj")
elif x > y:
    print("we live in benin")

we live in benin

In [53]:
 ###Define the budget and total expenses
Capt = 3000
total_exp = 4000

# Check if total expenses are within the budget
if total_exp <= Capt:
    print("you in order")
elif total_exp < Capt:
    print("go on")
else:
    print("danger! danger!")

danger! danger!

In [ ]:
#### LOgical Operators And,Or, and Not

In [57]:
# Check availability of items
bread_available = True
peanut_butter_available = False

In [59]:
if bread_available and peanut_butter_available:
    print("buy")
else:
    print("nor buy")

nor buy

In [61]:
if bread_available or peanut_butter_available:
    print("buy")
else:
    print("nor buy")

buy

In [65]:
is_raining = False
# False means it is not raining

# `not` negates, that is it gives you the opposite of a task;
can_we_go_for_picnic = not is_raining

# Print the result
print("Can we go for a picnic?")

Can we go for a picnic?

In [67]:
#### Assignment Operators

In [69]:
x = 5
x += 3 
print(x)

8

In [85]:
x= "boy"

In [87]:
x += " girl"

In [89]:
print(x)

boy girl

In [91]:
###Identity Operators

In [93]:
# Creating a basket of fruits
basket1 = ["apple", "banana", "cherry"]
basket2 = basket1  # basket2 refers to the same basket as basket1
basket3 = ["apple", "banana", "cherry"]  # basket3 is a different basket

print(basket1 is basket2)  # Output: True  (Same basket)
print(basket1 is basket3)

True
False

In [95]:
print(basket1 is not basket2)  # Output: False (Same basket)
print(basket1 is not basket3)

False
True

In [99]:
 #Two lists representing two baskets of fruits
basket_a = ["apple", "banana", "cherry"]
basket_b = ["apple", "banana", "cherry"]  # A different basket with the same fruits
basket_c = basket_a  # basket_c points to the same basket as basket_a

# Comparing identity
print(basket_a is basket_b)  # Output: False (Different baskets)
print(basket_a is basket_c)

False
True

In [101]:
# Say you have a list of expense categories
categories = ["rent", "groceries", "transportation"]

# Check if 'rent' is "in" the list
print("rent" in categories)

True

In [103]:
Cities_CA= "LA", "Sanf", "LD", "SV"
Cities_TN= ("Nas", "Knx", "MEM")
Cities_NY= ["NYC", "Quen", "ALB"]

In [105]:
print("LA" in Cities_CA)
print("MEM" in Cities_TN)
print("ALB" in Cities_NY)

True
True
True

In [109]:
##### LOOPs
####for loop
fruits = ['apple', 'mango', 'orange','berry']
for fruit in fruits:
    print(fruit)

apple
mango
orange
berry

In [113]:
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
##### While loop

i = 0
while i < 5:
    print(i)
    i += 1

In [ ]:
######Break and continue
for i in range 5:
if i ==3:
    break
    print(i)

In [ ]:
for i in range 5:
if i ==3:
    continue
    print(i)

In [ ]:
age = 30
if age ==30:
  print("can vote")
else:
    print( "cannot vote")

In [ ]:
x = 10
print(x)